---
layout: reveal
---
{% include slides/00_title.html %}
{% include slides/01_motivations.html %}
{% include slides/02_cloud_services_in_motion.html %}
{% include slides/03_our_journey_vs_your_journey.html %}
{% include slides/04_phase_0_research.html %}
{% include slides/05_phase_1_design.html %}
{% include slides/06_phase_2_prepare.html %}
{% include slides/07_phase_3_execute.html %}
{% include slides/08_phase_4_reevaluate.html %}
{% include slides/09_and_repeat.html %}
{% include slides/10_hindsight_is_20_20.html %}
{% include slides/11_the_people.html %}
{% include slides/12_about_me.html %}
{% include slides/13_thank_you.html %}
