<section>
  <h2>Phase 4: Reevaluate</h2>
  <p></p>
</section>
<section>
  <h3>Reevaluate</h3>
  <ul>
    <li>
      Know your bottlenecks and how to work around them
      <ul>
        <li>Different systems will present problems at different times</li>
        <li>Be adaptable</li>
        <li>Just keep swimming</li>
      </ul>
    </li>
    <li>
      Anything you can do in place and incrementally, you should
      <ul><li>If at first you don't succeed, try again incrementally</li></ul>
    </li>
    <li>
      It's going to take longer than you think
      <ul>
        <li>And definitely longer than people want to hear</li>
        <li>
          Be prepared to cycle teams on and off the project
          <ul><li>Limits fatigue and spreads knowledge</li></ul>
        </li>
      </ul>
    </li>
  </ul>
</section>
