<section>
  <h2>Hindsight is 20/20</h2>
</section>
<section>
  <h3>In hindsight&hellip;</h3>
    <ul>
      <li>
        Start-ups are hard, but don't be afraid to:
        <ul>
          <li>Discontinue problem features</li>
          <li>Renegotiate or end contracts with problem customers</li>
        </ul>
      </li>
      <li>
        Spend more on engineers/engineering early on
        <ul>
          <li>The mistakes cheap engineers make early on will cost you later</li>
        </ul>
      </li>
      <li>
        Large-scale migrations can easily become a scapegoat for various problems
        both technical and organizational
        <ul><li>Protect against this</li></ul>
      </li>
      <li>Estimation is hard</li>
      <li>
        In many migration scenarios, the business is the customer
        <ul>
          <li>Boundaries can become blur or vanish</li>
          <li>
            A lot of work will go into migrations and audits, but never
            forget:<br><strong>Deletes are the deliverable</strong>
          </li>
        </ul>
      </li>
    </ul>
  <p></p>
</section>
