<section><h2>The People</h2></section>
<section>
  <h3>The People</h3>
  <p>
    The Datto AWS Exodus was a <strong>HUGE</strong> team effort
  </p>
  <hr>
  <ul>
    <li>
      At least 45 contributors from the Engineering team
      <ul><li>Contributions from three offices in three states</li></ul>
    </li>
    <li>
      Amazing support and patience from our Sales,<br>Customer Success, Tech
      Support, and Executive teams
    </li>
  </ul>
  <p>
    <p><a class="font-size-xl" rel="nofollow" target="_blank" href="http://www.datto.com/careers">http://datto.com/careers</a></p>
    <i>It's not work, it's Datto.</i>
  </p>
</section>
