<section>
  <section>
    <h2>About Me</h2>
    <div class="columns-2">
      <div class="column">
        <div>
          <img width="25%" class="bg-trans without-borders" src="/assets/images/megacat.png">
          <div>github.com/tdg5</div>
        </div>
        <div class="margin-top-3em">
          <img width="20%" class="bg-trans without-borders" src="/assets/images/blog.png">
          <div>blog.tdg5.com</div>
        </div>
      </div>
      <div class="column">
        <div>
          <img width="25%" class="bg-trans without-borders" src="/assets/images/twitter.png">
          <div>@dannyguinther</div>
        </div>
        <div class="margin-top-3em">
          <img class="bg-trans without-borders" width="25%" src="assets/images/linkedin.png">
          <div>linkedin.com/in/dannyguinther</div>
        </div>
      </div>
    </div>
  </section>
</section>
